.btn {
  @apply 
    /* size of button */
    w-40 py-2 rounded-lg

    /* text color and button's shadow */
    text-white shadow-md 

    /* animation */
    transition duration-200 ease-in-out

    /* click the button */
    focus:ring-2 focus:scale-150 focus:ring-yellow-600
    

    /* change button's size when hovering */
    hover:shadow-lg hover:scale-150
    

    /* have ring when hovering */
    hover:ring-2 hover:ring-yellow-300;
    
}

.btn-green {
  @apply 
    bg-green-500 hover:bg-green-600 focus:ring-green-400;
}

.btn-gray {
  @apply
    bg-gray-500 hover:bg-gray-600 focus:ring-gray-400;
}
